*{
	margin: 0;
	padding: 0;
}

.container-textinput{
	width: 60%;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	border-width: 0px;
	background-color: crimson;
	color: white;
	box-shadow: 0 0 15px 0 crimson, 0 10px 15px 0 rgba(0, 0, 0, 0.2);
	text-shadow: crimson;
}

.container-button{
	margin-left: 10px;
	border-radius: 50px;
	border-width: 0px;
	background-color: crimson;
	box-shadow: 0 0 15px 0 crimson, 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.container-button:hover{
	background-color: #ED2939;
}

.crud_image{
	margin-top: 30px;
	border-radius: 40px;
	cursor: pointer;
}